pipecat-ai[daily,elevenlabs,deepgram,groq,tracing]
openai
daily-python
pymongo
motor
python-dotenv
langfuse
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
jinja2
pyyaml
pydantic
tenacity
phonenumbers